body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
}

.row {
  position: relative;
}

.read-more {
  position: absolute;
  bottom: 1rem;
}

img {
  height: 16rem;
}
